/**/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{ /* Ele é Geral,*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
body {
    width: 100%; /*Toda a altura do seu site*/
    height: 100vh; /*Tentativa e sorte*/
    overflow-x: hidden; /*Esconder a barra de baixo*/
    overflow-y: hidden; /*Esconder a barra lateral*/
    color: #ffffff; /*Site Branco*/
}

p {
    color: rgb(163, 11, 11);
    font-family: "Lora", serif; /*Define que o paragrafo usara o que voce importou*/
}


.valorant a{
    width: 50%;
}
  


